html {
    background-color: #4f4f4f;
}

body {
    background-color: #4f4f4f;
    font-family: 'Courier New', monospace !important;
}

.maintxt{
    background-image: url(mountain.png);
    background-size: cover;
}

.imgbox {
            display: grid;
            height: 100%;
        }
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}



p {
    color: #f1f1f1;
}

ul {
    color: #f1f1f1;
}

img {
    display: block;
    max-width: 10%;
    height: auto;
}

.header img {
    float: left;
    width: 100px;
    height: 100px;
    background: #555;
}

.header h5 {
    float: right;
    top: 18px;
    left: 10px;
}

.header p {
    float: right;
    top: 18px;
    left: 10px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.bottomed {
  position: absolute;
  bottom: 3%;
  left: 50%;
  color: white;
}

.welcome {
  color: white;
  font-size: xx-large;
  text-align: center;
}
